<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<script>

    function test() {
        alert("ssddfdfdf5555");
    }

</script>

<body>
<dev>
  <input type="button" value="测试" onclick="test()"/>
</dev>

</body>
</html>